In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [20]:
data= pd.read_excel('Raw Data.xlsx', parse_dates=True,index_col=0)
data.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
2017-12-29,66.9700,51.930134,99.69,168.5511,96.0232,91.4703,56.8002,153.09,175.24,89.03,...,35.16,67.0797,82.7987,65.8300,29.1500,68.0052,81.2340,120.6700,50.634354,71.9213
2017-12-28,67.3003,52.359306,99.71,170.3937,97.0956,92.2374,57.1884,153.57,175.55,89.38,...,35.37,68.1542,83.1749,66.4300,29.4500,68.0551,82.2891,121.7500,51.142387,72.2707
2017-12-27,67.1506,52.299427,99.77,169.9156,97.3934,92.2473,57.1983,153.32,175.36,89.10,...,35.20,67.5672,83.0561,65.9431,29.2319,68.0351,82.0203,119.9036,50.514812,72.3306
2017-12-26,67.1007,52.748558,101.96,169.8857,97.0558,92.8949,56.7305,152.99,174.44,88.63,...,35.24,67.2588,83.1353,66.1728,29.1624,67.3072,81.8113,119.7240,50.664234,72.2208
2017-12-22,67.2005,52.489059,100.55,174.3079,97.5126,92.1079,56.6609,153.89,175.00,88.85,...,35.17,67.5772,83.1254,65.7334,29.3310,67.3870,82.0203,119.8837,51.132427,71.8714

In [ ]:
#Calculate by how much percent our stock is changing each day

In [52]:
returns= data.pct_change()
returns.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
2017-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-28,0.004932,0.008264,0.000201,0.010932,0.011168,0.008386,0.006834,0.003135,0.001769,0.003931,...,0.005973,0.016018,0.004544,0.009114,0.010292,0.000734,0.012988,0.008950,0.010033,0.004858
2017-12-27,-0.002224,-0.001144,0.000602,-0.002806,0.003067,0.000107,0.000173,-0.001628,-0.001082,-0.003133,...,-0.004806,-0.008613,-0.001428,-0.007330,-0.007406,-0.000294,-0.003267,-0.015166,-0.012271,0.000829
2017-12-26,-0.000743,0.008588,0.021950,-0.000176,-0.003466,0.007020,-0.008179,-0.002152,-0.005246,-0.005275,...,0.001136,-0.004564,0.000954,0.003483,-0.002378,-0.010699,-0.002548,-0.001498,0.002958,-0.001518
2017-12-22,0.001487,-0.004920,-0.013829,0.026030,0.004707,-0.008472,-0.001227,0.005883,0.003210,0.002482,...,-0.001986,0.004734,-0.000119,-0.006640,0.005781,0.001186,0.002555,0.001334,0.009241,-0.004838

In [ ]:
#calculate nature log value of obtained percent change in value of each stock
#  By taking natural log we are also scalling the data
# Natural log also help us to see change in growth rate with respect to time

In [21]:
returns.apply(lambda x: np.log(1+x))

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
2017-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2017-12-28,0.004920,0.008230,0.000201,0.010873,0.011106,0.008351,0.006811,0.003131,0.001767,0.003924,...,0.005955,0.015891,0.004533,0.009073,0.010239,0.000733,0.012905,0.008910,0.009983,0.004846
2017-12-27,-0.002227,-0.001144,0.000602,-0.002810,0.003062,0.000107,0.000173,-0.001629,-0.001083,-0.003138,...,-0.004818,-0.008650,-0.001429,-0.007357,-0.007433,-0.000294,-0.003272,-0.015282,-0.012347,0.000828
2017-12-26,-0.000743,0.008551,0.021713,-0.000176,-0.003472,0.006996,-0.008212,-0.002155,-0.005260,-0.005289,...,0.001136,-0.004575,0.000953,0.003477,-0.002380,-0.010757,-0.002551,-0.001499,0.002954,-0.001519
2017-12-22,0.001486,-0.004932,-0.013925,0.025697,0.004696,-0.008508,-0.001228,0.005866,0.003205,0.002479,...,-0.001988,0.004723,-0.000119,-0.006662,0.005765,0.001185,0.002551,0.001333,0.009199,-0.004850
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2006-01-06,0.002891,0.010050,-0.012874,0.003284,0.000000,0.000000,-0.036503,0.002896,0.016023,-0.013975,...,-0.006730,0.001031,0.000506,-0.009812,-0.013568,0.000000,-0.007723,-0.034803,0.008312,0.000000
2006-01-05,-0.005211,0.018041,0.001136,-0.025489,0.000000,0.011160,-0.019009,-0.048342,-0.024135,-0.003918,...,-0.001582,-0.019768,-0.019541,-0.015461,0.006129,0.000000,0.002853,0.005130,-0.010368,0.000000
2006-01-04,-0.025859,-0.012926,-0.004780,0.007906,0.000000,0.012463,-0.012792,-0.007439,0.009152,-0.031359,...,0.001870,-0.058420,0.004963,0.011434,0.010802,0.000000,-0.041741,0.010616,-0.009047,0.000000
2006-01-03,-0.002684,-0.045670,-0.007098,-0.002943,0.000000,0.006645,-0.001514,-0.005448,0.002599,-0.009223,...,-0.020311,-0.044029,-0.001708,-0.009214,0.001344,0.000000,-0.008526,-0.009447,-0.007036,0.000000
2005-12-30,-0.006287,-0.008312,-0.001378,-0.039016,0.000000,-0.020558,-0.003042,-0.014782,-0.041341,-0.022875,...,-0.012537,-0.021970,-0.040129,-0.006311,-0.017594,0.000000,0.002779,-0.015303,-0.012102,0.000000

In [ ]:
# by mean value we can se the expected return

In [12]:
mean_data= data.sum()/data.count()
mean_data

A       31.013630
AAL     24.828170
AAP     82.310751
AAPL    60.625707
ABBV    54.696592
          ...
XYL     36.144643
YUM     37.752582
ZBH     77.054234
ZION    33.278205
ZTS     43.622646
Length: 505, dtype: float64

In [25]:
variance= data.var()
variance

A        147.738495
AAL      293.989126
AAP     2271.481879
AAPL    1918.083423
ABBV     193.390960
           ...
XYL      138.303181
YUM      319.149207
ZBH      651.662762
ZION     331.265260
ZTS      133.175993
Length: 505, dtype: float64

In [ ]:
#Risk is calculated by the standard deviation, more SD more risk
# \sigma={\sqrt {\frac {\sum(x_{i}-{\mu})^{2}}{N}}}

In [41]:
daily_std= data.std()
anual_std= daily_std*np.sqrt(250)
anual_std.head

<bound method NDFrame.head of A       192.183828
AAL     271.103820
AAP     753.571808
AAPL    692.474444
ABBV    219.881195
           ...
XYL     185.945678
YUM     282.466461
ZBH     403.628159
ZION    287.778239
ZTS     182.466431
Length: 505, dtype: float64>

In [42]:
covariance= data.cov()
covariance.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
A,147.738495,133.480734,426.279443,483.924390,122.864138,295.657669,117.923424,382.234943,397.067001,213.737064,...,62.506074,167.049237,113.688476,126.570300,24.816250,122.732288,198.090446,273.461015,15.209123,98.464863
AAL,133.480734,293.989126,451.355608,391.737714,118.344624,309.838987,109.239633,326.569077,406.165113,202.482183,...,185.203343,141.666963,77.516822,115.459174,78.190600,134.507396,143.876391,341.366314,186.345190,88.728557
AAP,426.279443,451.355608,2271.481879,1773.529047,112.499575,1311.941618,444.634436,1379.556566,1163.721542,702.433194,...,105.223329,544.144243,454.823048,473.213672,27.985923,183.259294,717.828991,988.260886,-201.475110,90.556623
AAPL,483.924390,391.737714,1773.529047,1918.083423,395.377247,1168.569733,453.246677,1417.034438,1331.152615,756.138608,...,90.083439,588.056678,427.498966,455.327818,12.079072,316.396173,761.739010,908.620324,-166.248014,332.273750
ABBV,122.864138,118.344624,112.499575,395.377247,193.390960,143.731006,80.040147,283.760636,446.032569,176.584132,...,51.613966,117.793058,6.071492,87.989990,23.277506,138.467559,126.356990,176.478866,77.276167,145.383890

In [26]:
correlation= data.corr()
correlation

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
A,1.000000,0.640481,0.735856,0.909069,0.903486,0.837496,0.897562,0.932561,0.935465,0.965620,...,0.374441,0.962659,0.748385,0.901655,0.298472,0.967366,0.912262,0.881327,0.068749,0.877305
AAL,0.640481,1.000000,0.552330,0.521670,0.762534,0.622173,0.589421,0.564811,0.678340,0.648477,...,0.786487,0.578732,0.361731,0.583067,0.666658,0.769290,0.469707,0.779908,0.597124,0.708382
AAP,0.735856,0.552330,1.000000,0.849669,0.250750,0.947764,0.863097,0.858378,0.699206,0.809327,...,0.160756,0.799713,0.763560,0.859722,0.085842,0.421201,0.843081,0.812280,-0.232262,0.248142
AAPL,0.909069,0.521670,0.849669,1.000000,0.920864,0.918674,0.957441,0.959490,0.870372,0.948071,...,0.149768,0.940503,0.781010,0.900215,0.040319,0.865266,0.973589,0.812713,-0.208562,0.937294
ABBV,0.903486,0.762534,0.250750,0.920864,1.000000,0.611065,0.936876,0.890810,0.926737,0.891867,...,0.794441,0.833567,0.085976,0.796365,0.431836,0.898542,0.906488,0.785134,0.758586,0.923722
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XYL,0.967366,0.769290,0.421201,0.865266,0.898542,0.609783,0.832358,0.944584,0.970279,0.943429,...,0.801887,0.949551,0.470549,0.860172,0.550098,1.000000,0.939965,0.812391,0.887929,0.892508
YUM,0.912262,0.469707,0.843081,0.973589,0.906488,0.900998,0.947760,0.967185,0.845635,0.941890,...,0.120015,0.957854,0.836811,0.898740,0.001119,0.939965,1.000000,0.803635,-0.238847,0.924507
ZBH,0.881327,0.779908,0.812280,0.812713,0.785134,0.872887,0.875463,0.862363,0.874780,0.884009,...,0.532092,0.846559,0.744123,0.908533,0.484839,0.812391,0.803635,1.000000,0.201236,0.782959
ZION,0.068749,0.597124,-0.232262,-0.208562,0.758586,-0.162429,-0.144518,-0.133232,0.126429,0.012402,...,0.857890,-0.070959,-0.237869,-0.065314,0.770724,0.887929,-0.238847,0.201236,1.000000,0.765753
ZTS,0.877305,0.708382,0.248142,0.937294,0.923722,0.605979,0.872712,0.951378,0.946338,0.937226,...,0.879427,0.837965,-0.097111,0.861538,0.195858,0.892508,0.924507,0.782959,0.765753,1.000000

In [32]:
from pypfopt.efficient_frontier import EfficientFrontier
from pypfopt import risk_models
from pypfopt import expected_returns

In [56]:
cov_matrix= returns.apply(lambda x: np.log(1+x)).cov()
cov_matrix.head()

,A,AAL,AAP,AAPL,ABBV,ABC,ABT,ACN,ADBE,ADI,...,XL,XLNX,XOM,XRAY,XRX,XYL,YUM,ZBH,ZION,ZTS
A,0.000400,0.000325,0.000135,0.000178,0.000036,0.000125,0.000108,0.000168,0.000223,0.000202,...,0.000325,0.000194,0.000162,0.000172,0.000230,0.000052,0.000167,0.000156,0.000288,0.000030
AAL,0.000325,0.001914,0.000274,0.000259,0.000035,0.000175,0.000148,0.000202,0.000299,0.000257,...,0.000676,0.000264,0.000147,0.000231,0.000353,0.000044,0.000277,0.000200,0.000558,0.000034
AAP,0.000135,0.000274,0.000426,0.000110,0.000025,0.000085,0.000069,0.000100,0.000129,0.000120,...,0.000209,0.000120,0.000096,0.000103,0.000147,0.000036,0.000128,0.000098,0.000188,0.000018
AAPL,0.000178,0.000259,0.000110,0.000419,0.000018,0.000075,0.000067,0.000115,0.000176,0.000162,...,0.000249,0.000155,0.000116,0.000109,0.000174,0.000031,0.000129,0.000106,0.000221,0.000020
ABBV,0.000036,0.000035,0.000025,0.000018,0.000109,0.000031,0.000035,0.000022,0.000030,0.000029,...,0.000018,0.000028,0.000021,0.000025,0.000031,0.000027,0.000022,0.000033,0.000029,0.000035

In [59]:
expec_return= data.resample('Y').last().pct_change().mean()
expec_return

A       0.158680
AAL     0.262701
AAP     0.114945
AAPL    0.382758
ABBV    0.228796
          ...
XYL     0.205174
YUM     0.174820
ZBH     0.082445
ZION    0.063325
ZTS     0.233659
Length: 505, dtype: float64

In [65]:
sd_p= data.pct_change().apply(lambda x: np.log(1+x)).std().apply(lambda x: np.sqrt(250))
sd_p

A       15.811388
AAL     15.811388
AAP     15.811388
AAPL    15.811388
ABBV    15.811388
          ...
XYL     15.811388
YUM     15.811388
ZBH     15.811388
ZION    15.811388
ZTS     15.811388
Length: 505, dtype: float64

In [88]:
asset= pd.concat([expec_return, sd_p],axis=1 )
asset.columns = ['Returns', 'voletility']
asset.head()

       Returns  voletility
A     0.158680   15.811388
AAL   0.262701   15.811388
AAP   0.114945   15.811388
AAPL  0.382758   15.811388
ABBV  0.228796   15.811388

In [69]:
import random

In [96]:
p_ret=[]
p_vol=[]
p_weight=[]

num_asset= len(data.columns)
num_portfolio= 1

for portfolio in range (num_portfolio):
    wights= np.random.random(num_asset)
    wights= wights/np.sum(wights)
    p_weight.append(wights)
    returns_port= np.dot(wights, expec_return)
    p_ret.append(returns_port)
    var=cov_matrix.mul(wights,axis=0).mul(wights,axis=1).sum().sum()
    sd=  np.sqrt(var)
    ann_sd=sd*np.sqrt(250)
    p_vol.append(ann_sd)
wights

AttributeError: 'dict' object has no attribute 'columns'

In [89]:
data= {'Returns': p_ret,'voletility': p_vol}

In [90]:
portfolio= pd.DataFrame(data)
portfolio

   Returns  voletility
0      NaN    0.202236