# Assignment 4 Questions

## Problem Statement

Q.1 Given a sequence of n values x1, x2, ..., xn and a window size k>0, the k-th moving average of
the given sequence is defined as follows:

The moving average sequence has n-k+1 elements as shown below.
The moving averages with k=4 of a ten-value sequence (n=10) is shown below

    i 1 2 3 4 5 6 7 8 9 10
    ===== == == == == == == == == == ==
    Input 10 20 30 40 50 60 70 80 90 100
    y1 25 = (10+20+30+40)/4
    y2 35 = (20+30+40+50)/4
    y3 45 = (30+40+50+60)/4
    y4 55 = (40+50+60+70)/4
    y5 65 = (50+60+70+80)/4
    y6 75 = (60+70+80+90)/4
    y7 85 = (70+80+90+100)/4

Thus, the moving average sequence has n-k+1=10-4+1=7 values.

Write a function to find moving average in an array over a window:

Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

Q.2 How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
    
    import pandas as pd
    df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [62]:
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
data  = df['X']
pos = []
for i, v in data.iteritems():
    if(v==0):
        pos.append(i) 


for i,v in data.iteritems():
    df['Y'] = pos[0]-i
df

   X  Y
0  7 -7
1  2 -7
2  0 -7
3  3 -7
4  4 -7
5  2 -7
6  5 -7
7  0 -7
8  3 -7
9  4 -7

Q.3 Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [31]:
import pandas as pd
import random
df = pd.bdate_range('2015-01-01', '2015-12-31')
data = pd.DataFrame({'Value': random.sample(range(0, len(df)),len(df))})
data.set_index(df,inplace=True)
data

            Value
2015-01-01    258
2015-01-02    257
2015-01-05    102
2015-01-06    253
2015-01-07    186
...           ...
2015-12-25     69
2015-12-28    101
2015-12-29     79
2015-12-30    126
2015-12-31     15

[261 rows x 1 columns]